@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 20%;
    --card: 240 100% 100%;
    --card-foreground: 240 10% 20%;
    --popover: 240 100% 100%;
    --popover-foreground: 240 10% 20%;
    --primary: 225 80% 65%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 20% 95%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 20% 95%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 100% 91%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 90%;
    --input: 240 30% 96%;
    --ring: 225 80% 70%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 240 5% 95%;
    --card: 240 10% 15%;
    --card-foreground: 240 5% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 240 5% 95%;
    --primary: 225 90% 70%;
    --primary-foreground: 240 5% 98%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 240 5% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 10% 25%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 22%;
    --ring: 225 90% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(at 27% 37%, hsl(240, 100%, 91%) 0px, transparent 50%),
      radial-gradient(at 97% 21%, hsl(225, 100%, 81.4%) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsl(var(--background)) 0px, transparent 50%);
    min-height: 100svh;
  }
  .dark body {
    background-image: radial-gradient(at 27% 37%, hsl(240, 20%, 20%) 0px, transparent 50%),
      radial-gradient(at 97% 21%, hsl(225, 40%, 20%) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsl(var(--background)) 0px, transparent 50%);
  }
}
